<div class="container">
  @if(shownCards.length == 0){
    <div class="title">
      <h1>Perguntas e Desafios</h1>
    </div>

    <img src="../assets/images/fire.png" alt="" class="img-title">
  }

  @if(shownCards.length > 0 && currentCardIndex > 0){
    <div class="title">
      <h1>Perguntas e Desafios</h1>
    </div>
    <div>
      @for (item of shownCards; track $index) {
        <div class="card flex justify-content-center card-game">
          <h2>{{item.Categorias}}</h2>
          <h4>{{item.Acao}}</h4>
          @if(item.Descricao != 'Sem Descricao'){
            <p>{{item.Descricao}}</p>
          }
          @if(item.Categorias == 'Desafios Eróticos'){
            <img src="../assets/images/algema.png" class="img-game" alt="">
          }@else if (item.Categorias == 'Perguntas Íntimas') {
            <img src="../assets/images/pergunta.png" class="img-game" alt="">
          }@else if (item.Categorias == 'Ações') {
            <img src="../assets/images/acao.png" class="img-game" alt="">
          }
          <div class="buttons-game">
            <button (click)="showPrevCard()" [disabled]="currentCardIndex <= 1"  type="button" class="btn btn-game">Anterior</button>
            <button (click)="showNextCard()" type="button" class="btn btn-game">Proxímo</button>
          </div>
        </div>

      }
    </div>
  }
  @if(gameFinished){
    <div class="finished">
      <h1>Jogo Finalizado!</h1>
    </div>
  }

  <div class="buttons">
    <button (click)="startNewGame()" type="button" class="btn btn-game">Começar novo jogo</button>
  </div>
</div>


